.left-nav-title {
  margin-bottom: 30px;
}
.category-name {
  list-style: none;
  margin-bottom: 20px;
}

.category-name a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.category-name:hover {
  text-decoration: underline;
}
